<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>ts_orderconfirmation</name>
	<displayName><![CDATA[TS Order Confirmation]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Create Order Confirmations from BO]]></description>
	<author><![CDATA[Barbwire]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
